<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453284427162-c83co2ve29tofig2sv4i1m1qge50gpcu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453284427162-c83co2ve29tofig2sv4i1m1qge50gpcu</string>
	<key>API_KEY</key>
	<string>AIzaSyDuS7o2vYf0eWXhS5oG6zJ6X1Uefd8lOuc</string>
	<key>GCM_SENDER_ID</key>
	<string>453284427162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FrancoisLu.LetsChatAlpha</string>
	<key>PROJECT_ID</key>
	<string>letschatalpha</string>
	<key>STORAGE_BUCKET</key>
	<string>letschatalpha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453284427162:ios:b17c6031e4ac530a583623</string>
</dict>
</plist>